$tradeGothicBold: "Trade Gothic LT Std bold";
$tradeGothic: "Trade Gothic LT Std";
$tradeGothicLight: "Trade Gothic LT Std light";
$tradeGothicSans: "Trade Gothic LT Std",sans-serif;
$tradeGothicHelAriSan: "Trade Gothic LT Std","Helvetica Neue",Helvetica,Arial,sans-serif;