header {
    background-color: #F4F4F4;
    border-top: 6px solid #ed711c;
    height: 80px;
    display: flex;
    align-items: center;
    img {
        max-width: 240px;
    }
    .container-fluid{
        max-width: 1432px;
     }
}
