@import '../../../../assets/scss/color-vars.scss';

header {
    background-color: $whiteSmoke;
    border-top: 6px solid $pumpkin;
    height: 95px;
    display: flex;
    align-items: center;
    img {
        max-width: 245px;
    }
    .container-fluid{
       
     }
}
@media (min-width: 768px) {
	header .container-fluid {
		width: 752px;
	}
}

@media (min-width: 992px) {
	header .container-fluid {
		width: 972px;
	}
}

@media (min-width: 1200px) {
	header .container-fluid {
		width: 1172px;
	}
}

@media (min-width: 1440px) {
	header .container-fluid {
		width: 1432px;
	}
}