
<div class="footer-section">
    <div class="container">
        <p class="fancy-heading mb-5"><span>Need Help?</span></p>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="con-detail">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        Call us at 844-274-8497
                    </span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="con-detail">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span>
                        Call us at 844-274-8497
                    </span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="con-detail">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    <span>
                        Chat with us
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
