
<div class="footer-section">
    <div class="container">
        <p class="fancy-heading mb-5"><span>Need Help?</span></p>
        <div class="row pd-16">
            <div class="col-md-4 mb-3">
                <div class="con-detail pull-left">
                   
                    <img class="mr-3" src="assets/images/Icon_Contact_Call.png" />
                    <span>
                        Call us at 844-274-8497
                    </span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="con-detail">
                    <img class="mr-3" src="assets/images/Icon_Contact_Email.png" />
                    <span>
                        Call us at 844-274-8497
                    </span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="con-detail pull-right">
                    <img class="mr-3" src="assets/images/Icon_Contact_Chat.png" />
                    <span>
                        Chat with us
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
