@import '../../../../assets/scss/font-vars.scss';
@import '../../../../assets/scss/color-vars.scss';

.faq-section {
    height: auto;   
    padding: 30px;
    padding-bottom: 60px;
    
.panel,
.panel-body {
  box-shadow: none;
}

.panel-group .panel-heading {
  padding: 0;
}

.panel-group .panel-heading a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  position: relative;
}

.panel-group .panel-heading a:after {
  content: '-';
  float: right;
  color: $navyBlue;
    font-size: 50px;
}

.panel-group .panel-heading a.collapsed:after {
  content: '+';
  color: $navyBlue;
    font-size: 28px;
}
.panel-title {
    a{
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1px;
        font-family: $tradeGothicSans;
        font-weight: 900;
        transition: color 0.3s;
        color: $brightGrey;
        padding:  15px 0 !important;
    }
   
  }
}
.panel.panel-default {
    border-top:  2px solid $wanWhite;
    border-bottom:   2px solid $wanWhite;
}
.container-main{
  // max-width: 1432px;
  background: $whiteSmoke;
}
h3.h3-bold {
  font-size: 26px;
  display: flex;
  align-items: center;
  font-weight: 900;
  color: rgb(77, 82, 90);
  i.fa.fa-question-circle-o {
    color: $irisBlue;
    margin-right: 15px;
    font-size: 48px;
    font-weight: normal;
    
  }
}
@media (min-width: 768px) {
	.container-main {
		width: 752px;
	}
}

@media (min-width: 992px) {
	.container-main {
		width: 972px;
	}
}

@media (min-width: 1200px) {
	.container-main {
		width: 1172px;
	}
}

@media (min-width: 1440px) {
	.container-main {
		width: 1432px;
	}
}