
<div class="container-fluid container-main">
  <div class="row">
    <div class="col-md-8 m-auto">
      <div class="text-secondary faq-section">
        <div class="section-title-container">
            <h3 class="h3-bold">
              <i class="dh-icon-question dh-module-icon" aria-hidden="true"></i>Frequently asked questions
            </h3>
        </div>
        <div class="panel-group" id="accordionSingleClosed" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapseItemCloseOne" aria-expanded="true" aria-controls="collapseItemCloseOne">
                    What is proxy access?
                  </a>
                </h4>
              </div>
              <div id="collapseItemCloseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body pb-3">
                    Each account requires a unique email address. However, family members sometimes share an email address. In this case, we offer what is known as “proxy” access. This allows each family member to sign up using the same username and password. They will have access to each other’s health information. Proxy access can be used between spouses, when an adult is the caretaker for another adult, or for parents to access their children’s accounts. If you'd like to set up a proxy account, you may request proxy access at your next hospital or clinic visit.
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
  </div>
   

    


</div>
